{% extends 'layout/base.html' %}

{% block body %}

	<div class="teal" style="width:100%; height:15em;"></div>

	<div class="container" style="margin-top:-10em;">
		<div class="card-panel">
			<div class="row">
				<div class="input-field col s12">
					<h1>Login</h1>
					<h4>Escribe tus datos</h4>
				</div>

			    <form action="" method="POST" >
					{% csrf_token %}
					{% include "layout/non_field_errors_snippet.html" with errors=form.non_field_errors %}
					{% include "layout/form_snippet.html" with form=form %}

		      		<div class="input-field col s12">
				      	<button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
		      		</div>
			    </form>
		  	</div>
		</div>
	</div>
	
{% endblock %}