{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">
	<title>Backbiary</title>

	{% comment %} <link rel="stylesheet" href="{% static 'css/normalize.css' %}"> {% endcomment %}
	<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
	{% comment %} <script src="{% static 'js/vendor/underscore-min.js' %}"></script> {% endcomment %}
	{% comment %} <script src="{% static 'js/vendor/backbone-min.js' %}"></script> {% endcomment %}
	{% comment %} <script src="{% static 'js/vendor/backbone.syphon.min.js' %}"></script>	 {% endcomment %}
	{% comment %} <script src="{% static 'js/vendor/backbone.marionette.js' %}"></script> {% endcomment %}
	{% comment %} <script src="{% static 'js/vendor/backbone.validator.min.js' %}"></script> {% endcomment %}
	{% comment %} <script src="{% static 'js/vendor/backbone.socket.js' %}"></script> {% endcomment %}
	<script src="{% static 'js/vendor/materialize.js' %}"></script>
	{% comment %} <script src="{% static 'js/vendor/pic64.js' %}"></script> {% endcomment %}

</head>
<body class="grey lighten-4">
	<audio id="audio_error"><source src="{% static 'sounds/confirm.ogg' %}" type="audio/ogg"></audio>
	<audio id="audio_success"><source src="{% static 'sounds/success.ogg' %}" type="audio/ogg"></audio>

	<div class="wrapper">
		{% block body %}{% endblock %}
	</div>

	{% block scripts %}{% endblock %}
</body>
</html>