{% for field in form %}
	<div class="input-field col s12">
		{{ field.label_tag }}
		{{ field }}
		{% if field.errors %}
			<ul class="errors">
				{% for error in field.errors %}
					<li class="red-text text-darken-2"><strong>{{ error }}</strong></li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
{% endfor %}