<!-- nav[teal nav-bottom] -->
<script type="text/template" id="header-template">
  	<a href="#contacts" class="js-list brand">BACKDIARY</a>
  	<ul class="right">
        <li><a href="#contacts/add" class="js-new"><i class="small mdi-content-add"></i></a></li>
        <li><a href="#contacts" class="js-list"><i class="small mdi-action-subject"></i></a></li>
        <li><a href="#contacts" class="js-list"><i class="small mdi-navigation-refresh"></i></a></li>
        <li><a href="#" class="js-close"><i class="small mdi-navigation-close"></i></a></li>
  	</ul>
</script>

<!-- form[section paddingable] -->
<script type='text/template' id='contact-form'>
	<div class="row">
		<div class="col s12">																
			<h5 class="js-title"></h5>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 m6">
			<input id="contact-first_name" name="first_name" type="text" class="validate" value="<%= first_name %>">
			<label for="contact-first_name">First name:</label>
		</div>
		<div class="input-field col s12 m6">
			<input id="contact-last_name" name="last_name" type="text" class="validate" value="<%= last_name %>">
			<label for="contact-last_name">Last name:</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 m6">
			<input id="contact-username" name="username" type="text" class="validate" value="<%= username %>">
			<label for="contact-username">Username:</label>
		</div>
		<div class="input-field col s12 m6">
			<input id="contact-email" name="email" type="text" class="validate" value="<%= email %>">
			<label for="contact-email">Email:</label>
		</div>
	</div>
	<div class="row">
		<div class="col s12 right-align">								
			<button class="btn btn-primary js-submit">GUARDAR</button>
		</div>
	</div>
</script>

<!-- ul[collection with-header border-none] -->
<script type='text/template' id='contacts-list-template'>
    <li class="collection-header">
    	<h5>Usuarios</h5>
    </li>
    <div class="content"></div>
</script>

<!-- li[collection-item avatar fix-padding-left] -->
<script type='text/template' id='contact-item-template'>
  	<img src="<%= avatar %>" alt="<%= username %>" class="circle">
  	<span class="title"><%= username %></span>
  	<p>
  		<%= first_name %><br>
  		<%= last_name %>
  	</p>

  	<a href="#!" class="secondary-content">
		<i class="icon-mini mdi-editor-mode-edit small grey-text js-edit"></i>
		<i class="icon-mini mdi-action-delete small grey-text js-delete"></i>
		<i class="icon-mini mdi-content-send small grey-text js-show"></i>
	</a>
</script>

<!-- li[collection-item avatar fix-padding-left] -->
<script type='text/template' id='contact-none-template'>
  	<i class="mdi-action-account-circle circle teal"></i>
  	<span class="title">No hay contactos registrados</span>
</script>

<script type='text/template' id='loading-view'>
	<h5><%= title %></h5>
	<div class="progress">
      	<div class="indeterminate"></div>
  	</div>
</script>

<!--  -->
<script type='text/template' id='contact-detail-layout-template'>
	<div class="section">
  		<h5>Datos del usuario</h5>
  	</div>

  	<!--div class="divider"></div-->

	<div class="section">
		<div class="row">

			<div class="col s12 m4 l3 center-align" id="profile-region">
				<!-- contact-profile-template -->
			</div>

			<div class="col s12 m8 l9">
				<div class="row" id="account-region">
					<!-- contact-account-template -->
				</div>

				<div class="row" id="phones-region">
					<!-- contact-phones-template -->
				</div>
			</div>
		</div>
	</div>
</script>

<!-- div[row] -->
<script type="text/template" id="contact-profile-template">
	<div class="col s12 section">
		<div class="row valign-wrapper">
			<div class="col s6 left-align valign">
				<span class="grey-text">Perfil</span>
			</div>
			<div class="col s6 right-align valign">
				<i class="material-icons grey-text icon-mini js-edit">create</i>
			</div>
		</div>
	</div>
	<div class="col s12">
		<img src="<%= avatar %>" class="responsive circle" alt="">
	</div>
	<div class="col s12">
		<h5><%= job %></h5>
		<small><time>hace <%= timestamp %></time></small>
	</div>	
</script>

<!-- div -->
<script type="text/template" id="contact-account-template">
	<div class="col s12 section">
		<div class="row valign-wrapper margin-none">
			<div class="col s6 left-align valign padding-none">
				<span class="grey-text">Cuenta de usuario</span>
			</div>
			<div class="col s6 right-align valign padding-none">
				<i class="material-icons grey-text icon-mini js-edit">create</i>
			</div>
		</div>
	</div>
	<div class="col s12 section">
		<h4><%= username %></h4>
		<h5><%= first_name %> <%= last_name %></h5>
		<h6><%= email %></h6>
	</div>
</script>

<!--  -->
<script type="text/template" id="contact-phones-template">
	<div class="col s12 section">
		<div class="row valign-wrapper">
			<div class="col s6 left-align valign">
				<span class="grey-text">Telefonos</span>
			</div>
			<div class="col s6 right-align valign">
				<i class="material-icons grey-text icon-mini js-add">add_circle</i>
			</div>
		</div>
	</div>
	<div class="col s12 section phones">
		<!-- contact-phone-template -->
	</div>
</script>

<!--  -->
<script type="text/template" id="contact-phone-none">
	No hay telefonos asociados
</script>

<!-- div[Chip] -->
<script type="text/template" id="contact-phone-template">
	<div class="Chip-phone">
		<strong><span><%= number %></span></strong>
		<span><%= Tipos[type] %></span>
	</div>
	<div class="Chip-options">
		<i class="material-icons grey-text icon-mini js-edit">create</i>
		<i class="material-icons grey-text icon-mini js-delete">delete</i>
	</div>
</script>

<!--  -->
<script type="text/template" id="modal-template">
	<div id="modal1" class="modal">
		<div class="modal-content">
			<!--h4 id="modal-title">Modal Header</h4-->
			<span id="modal-content-region">Hola</span>
		</div>
		<!--div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
		</div-->
	</div>
</script>

<!-- form[section paddingable] -->
<script type='text/template' id='profile-form'>
	<div class="row">
		<div class="col s12">																
			<h5 class="js-title"></h5>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 center-align">
			<img src="<%= avatar %>" class="responsive circle" alt="" id="preview-avatar">
		</div>
		<div class="input-field col s12 center-align">
			<div class="file-field">
			    <div class="btn" style="position: inherit !important;">
			        <span>Seleccionar</span>
			        <input type="file" id="avatar-input">
			    </div>
		    </div>
		    <input id="contact-avatar" name="avatar" type="hidden">
		    <br>
		</div>
		<div class="input-field col s12">
			<input id="contact-job" name="job" type="text" class="validate" value="<%= job %>">
			<label for="contact-job">Trabajo:</label>
		</div>
	</div>
	<div class="row">
		<div class="col s12 right-align">								
			<button class="btn btn-primary js-submit">GUARDAR</button>
		</div>
	</div>
</script>

<!-- form[section paddingable] -->
<script type='text/template' id='phone-form-template'>
	<div class="row">
		<div class="col s12">																
			<h5 class="js-title"></h5>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 m6">
			<input id="contact-number" name="number" type="text" class="validate" value="<%= number %>">
			<label for="contact-number">Numero:</label>
		</div>
		<div class="input-field col s12 m6">
			<select id="contact-type" name="type" class="browser-default">
				<option value="" disabled selected>Selecciona...</option>
				<option value="cel" <% if(type=='cel'){ %>selected<%}%> >Celular</option>
				<option value="nex" <% if(type=='nex'){ %>selected<%}%> >Nextel</option>
				<option value="tel" <% if(type=='tel'){ %>selected<%}%> >Fijo</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col s12 right-align">								
			<button class="btn btn-primary js-submit">GUARDAR</button>
		</div>
	</div>
</script>