{% extends 'layout/base.html' %}
{% load static from staticfiles %}

{% block body %}

	<div id="app-container">
		<div id="header-region"></div>

		<div class="container main row">
			<div class="col s12 white z-depth-1">
				<div id="main-region"></div>
			</div>
		</div>

		<div id="dialog-region"></div>
	</div>

	{% include 'layout/templates.html' %}

	<script src="{% static 'js/apps/config/marionette/regions/dialog.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
	<script src="{% static 'js/common/views.js' %}"></script>
	<script src="{% static 'js/common/controllers.js' %}"></script>
	<script src="{% static 'js/entities/contact.js' %}"></script>
	<script src="{% static 'js/apps/header/header_app.js' %}"></script>
	<script src="{% static 'js/apps/header/list/list_view.js' %}"></script>
	<script src="{% static 'js/apps/header/list/list_controller.js' %}"></script>
	<script src="{% static 'js/apps/contacts/contacts_app.js' %}"></script>
	<script src="{% static 'js/apps/contacts/new/new_view.js' %}"></script>
	<script src="{% static 'js/apps/contacts/new/new_controller.js' %}"></script>
	<script src="{% static 'js/apps/contacts/list/list_view.js' %}"></script>
	<script src="{% static 'js/apps/contacts/list/list_controller.js' %}"></script>
	<script src="{% static 'js/apps/contacts/show/show_view.js' %}"></script>
	<script src="{% static 'js/apps/contacts/show/show_controller.js' %}"></script>
	<script src="{% static 'js/apps/contacts/edit/edit_view.js' %}"></script>
	<script src="{% static 'js/apps/contacts/edit/edit_controller.js' %}"></script>

	<script type="text/javascript">
		var token = "{{ csrf_token }}";
		var url_socket = "{{ socket }}";
		var Tipos = {
			tel: 'Fijo',
			nex: 'Nextel',
			cel: 'Celular'
		};
		var acciones = {
			'create': 'creado',
			'update': 'actualizado',
			'delete': 'eliminado'
		};
		var models = {
			'user': 'usuario',
			'userprofile': 'perfil de usuario',
			'phone': 'telefoo'
		};
		$(document).on('ready', function()
		{
			Backdiary.start();
		});
	</script>

{% endblock %}