{% extends 'layout/base.html' %}
{% load static from staticfiles %}

{% block body %}
    <div id="app"><!-- React --></div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'reactdiary/main.js' %}"></script>
{% endblock %}
